Bai_3/Bai02_AiAgent_Nguyễn Võ Minh Hiếu_3122411057/n8n-telegram-bot.json
{
  "name": "n8n-telegram-bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -96
      ],
      "id": "ef40c9e7-77ad-48c9-ad25-eba044aeefc2",
      "name": "Telegram Trigger",
      "webhookId": "2b12eccb-f843-49cb-b5a7-68d002fd59ff",
      "credentials": {
        "telegramApi": {
          "id": "CMQ4f8ZCbmpWKAlQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/phim",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "30d6bcbc-7722-4ecb-88bd-5361065f3212"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ecb3d584-de1c-4b0e-8f51-959cc5e16da8",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/phim",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/phim"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -96
      ],
      "id": "2a62215d-8b25-4a5c-93b2-b2b21a1e57d4",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const movies = items[0].json.results.slice(0, 5);\n\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\nreturn movies.map(m => {\n  const posterUrl = m.poster_path\n    ? `https://image.tmdb.org/t/p/w500${m.poster_path}`\n    : null;\n\n  return {\n    json: {\n      chat_id: chatId,\n      photo: posterUrl,\n      caption:\n`🎬 *${m.title}*\n⭐ ${m.vote_average}\n\n${m.overview && m.overview.trim() !== ''\n  ? m.overview\n  : 'Chưa có mô tả nội dung.'}`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -80
      ],
      "id": "72f70f8b-4134-4880-bcab-c8630a6870e8",
      "name": "Get movie in week",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.themoviedb.org/3/trending/movie/week",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "vi-VN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        -80
      ],
      "id": "d4021652-853d-43fd-9b8e-59afc61af00c",
      "name": "HTTP Request: Get movie in week",
      "credentials": {
        "httpBearerAuth": {
          "id": "qvCEPlTqyuHwcA0g",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "peMLMzEbDw8KUYek",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.photo }}",
        "additionalFields": {
          "caption": "={{ $json.caption }}",
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        -80
      ],
      "id": "33d697fb-378c-4c55-9604-742e2cfa4947",
      "name": "Send movie information",
      "webhookId": "0cecd636-db98-4a91-ab07-f6680853135c",
      "credentials": {
        "telegramApi": {
          "id": "CMQ4f8ZCbmpWKAlQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "Bạn là một chuyên gia tư vấn điện ảnh. Bạn chỉ được trả lời dựa trên dữ liệu phim từ hệ thống và đúng trọng tâm, không dài dòng quá 1000 ký tự. Nếu người dùng hỏi ngoài lề, hãy khéo léo từ chối."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -912,
        -448
      ],
      "id": "36ff7332-5fc9-4523-99be-bdaf5d862daf",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        -240
      ],
      "id": "c3470c84-5c38-4dd0-a228-37dd03d43d81",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hfMwSLlYRK2rZ1kv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Phim đang chiếu",
                    "additionalFields": {
                      "web_app": {
                        "url": "https://www.galaxycine.vn/phim-dang-chieu/"
                      }
                    }
                  },
                  {
                    "text": "Phim sắp chiếu",
                    "additionalFields": {
                      "web_app": {
                        "url": "https://www.galaxycine.vn/phim-sap-chieu/"
                      }
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -448
      ],
      "id": "b8a26692-e77c-4662-83f9-83d54fd99f00",
      "name": "Send a text message",
      "webhookId": "27657708-8044-422f-800d-2a3dd95506eb",
      "credentials": {
        "telegramApi": {
          "id": "CMQ4f8ZCbmpWKAlQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ChatBot xử lý câu hỏi\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -464
      ],
      "typeVersion": 1,
      "id": "33ba5ff9-43cb-446a-9841-690224ac3533",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Danh sách phim trong tuần\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -112
      ],
      "typeVersion": 1,
      "id": "e120cde9-6baa-4438-95c3-ec926f83377e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request: Get movie in week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get movie in week": {
      "main": [
        [
          {
            "node": "Send movie information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Get movie in week": {
      "main": [
        [
          {
            "node": "Get movie in week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d70aabba-7405-4979-b314-c7045d60d9bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "280f0dc1aaf4f1c650306137b07ccb67d6490e8aa4b0655231a9bb8164bd549f"
  },
  "id": "a-gsF0L2EZ0349npF0e1r",
  "tags": []
}